.sidenav{
    background-color: rgb(31, 30, 30);
    width: 150px;
}

.sidenav a{
    color: #FFFF;
}

.sidenav i {
    padding-right: 10px;
    color:#FFFF
}

.content{
    padding: 16px;
    background-color: #FFFF
}
